.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.balance {
  background-color: #4A90E2;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 24px;
}

.input-group input, .input-group button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

button {
  background-color: #4A90E2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #357ABD;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f1f1f1;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense {
  border-left: 5px solid red;
}

.income {
  border-left: 5px solid green;
}

.container.light {
  background-color: #fff;
  color: #000;
}

.container.dark {
  background-color: #333;
  color: #fff;
}

.settings-button{
  margin-bottom: 10px;
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.settings-button:hover{
  background-color: #45a049;
}